#landingSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: calc(100vh - 80px);
}

#landingSection nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 0 100px;
}

#landingSection nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    font-weight: 700;
}

#landingSection .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ebf8f3;
    height: calc(100vh - 180px);
}

#landingSection .content h2 {
    width: 750px;
    font-size: 70px;
    color: #010252;
}