.serviceCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 300px;
    width: 200px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 5px rgb(200, 200, 200);
    background-color: #fff;
    color: #34b74a;
    transition: 0.5s;
}

/* .serviceCard:hover {
    cursor: pointer;
    transform: scale(1.05);
} */

.serviceCard img {
    height: 100px;
    width: 100px;
}

.serviceCard h4 {
    width: 90%;
    height: 50px;
    font-size: 20px;
    text-align: center;
}

.serviceCard button:hover {
    text-decoration: underline;
}