#landingSection {
    display: flex;
    flex-direction: column;
    background-image: url("../../../../public/images/landing_bg.jpg");
    width: 100%;
    min-height: calc(100vh - 80px);
    color: #010252;
}

#landingSection nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 0 100px;
}

#landingSection nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    font-weight: 700;
}

#landingSection nav ul li:hover {
    color: #9f9fc7;
}

#landingSection .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 180px);
}

#landingSection .content div {
    display: flex;
    align-items: center;
}

#landingSection .content div img {
    height: 300px;
    width: 300px;
}

.content h2 {
    width: 750px;
    font-size: 70px;
}

@media (max-width: 1700px) {  
    
    #landingSection .content div {
        flex-direction: column;
    }
}

@media (max-width: 1280px) {  
    #landingSection .content {
        flex-direction: column;
        gap: 70px;
        height: unset;
    }

    #landingSection .content div {
        gap: 10px;
    }

    .content h2 {
        font-size: 50px;
    }

    #landingSection .content div img {
        height: 200px;
        width: 200px;
    }
}

@media (max-width: 820px) {  
    
    #landingSection nav {
        padding: 0 10px;
        font-size: 16px;
    }

    #landingSection nav ul {
        gap: 50px;
    }

    .content h2 {
        text-align: center;
        width: 80%;
        font-size: 26px;
    }
}

@media (max-width: 450px) {  
    
    #landingSection nav {
        gap: 20px;
        padding: 0 10px;
        font-size: 12px;
    }

    #landingSection nav ul {
        gap: 20px;
    }

    #landingSection .content {
        gap: 20px;
    }

    .content h2 {
        text-align: center;
        width: 325px;
        font-size: 22px;
    }
    
    #landingSection .content div img {
        height: 120px;
        width: 120px;
    }
}